@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
  margin: 0;
  padding: 0;
  background-color: rgb(18, 17, 17);
}
.app {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}
/* NavBar */
.app-header {
  height: 30px;
  background-color: rgb(18, 17, 17);
  box-shadow: 0px 2px 4px 0px rgba(249, 248, 248, 0.1);
}
.nav-logo{
  position: absolute;
  left: 15px;
  top: -9px;
  font-size: 18px;
  color: white;
  font-weight: 100;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 30px;
  margin-right: 15px;
  padding-top: 5px; 
}
.nav-link {
  text-decoration: none;
  color: white;
  transition: font-size .3s ease;
}
.nav-link:hover {
  font-size: 17px;
}
/* Home */
.home-container {
  margin: 40px 20px;
  color: white;
}
.home-title{
  color: #04851b;
}
.home-description {
  width: 90%;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home-col-1 {
  flex-basis: 60%;
  flex: 1;
}
.home-col-2 {
  flex-basis: 35%;
  margin: auto 0;
  flex: 1;
}
.home-col-2 img {
  width: 90%;
  border-radius: 15px;
  margin-left: 5%;
}
/* Projects */
.projects{
  color: white;
  text-align: center;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery-item {
  border: 1px solid white;
  width: 200px;
  border-radius: 10px;
  margin: 20px;
  text-align: center;
}
.gallery-item img{
  width: 200px;
  border-radius: 10px 10px 0 0;
}
.gallery-item h4 a {
  color: green;
  text-decoration: none;
  transition: font-size .3s ease-out;
}
.gallery-item h4 a:hover {
  font-size: larger;
}
.gallery-item p {
  font-size: 12px;
  color: white;
}
.technologies {
  margin: 5px 10px;
}
/* Contact */
.contact-container {
  margin: 30px;
  padding: 20px;
  color: white;
}
.contact-left {
  flex-basis: 35%;
}
.contact-left h3 {
  margin-bottom: 0;
  color: #04851b;
}
.contact-right {
  flex-basis: 50%;
}
.social-icons {
  margin: 30px 0;
}
.contact-phone, .contact-email{
  text-decoration: none;
  color: white;
  transition: font-size .5s ease;
}
.contact-phone:hover {
  font-size: 18px;
}
.social-icons a {
  font-size: 30px;
  margin-right: 15px;
  display: inline-block;
  color: #ababab;
  transition: transform .5s;
}
.social-icons a:hover {
  color: #04851b;
  transform: translateY(-5px);
}
.contact-right form {
  width: 100%;
}
form input, form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 10px;
  margin: 15px 0; 
  color: white;
  font-size: 14px;
  border-radius: 6px;
}
.btn {
  padding: 5px 20px;
  font-size: 16px;
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer;
  background-color: green;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 7px;
  color: white;
  transition: opacity .3s ease;
}
.btn:hover {
  opacity: .8;
}

/* Media Queries */

/* Contact */
@media (max-width: 700px) {
  .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .contact-right form {
    width: 95%;
  }
  .contact-left{
    width: 95%;
  }
  /* Home */
  .row{
    flex-direction: column;
  }
  .home-col-2{
    order: -1;
  }
  .home-description {
    width: 100%;
  }
}